In [1]:
import cvpfi
import pandas as pd

In [2]:
df = pd.read_csv("boston.csv")
df.head()

,PRICE,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,24.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,21.6,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,34.7,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,33.4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,36.2,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [3]:
cvpfi.cvpfi_val_reg(df, y_col="PRICE", cv=10).sort_values("CVPFI", ascending=False)

           CVPFI     ±Err
LSTAT    0.64845  0.10847
RM       0.37739  0.04149
DIS      0.08630  0.01029
NOX      0.06055  0.00619
AGE      0.03610  0.00414
CRIM     0.03246  0.00493
PTRATIO  0.02289  0.00300
TAX      0.01557  0.00250
B        0.01512  0.00228
INDUS    0.00652  0.00099
RAD      0.00512  0.00115
ZN       0.00062  0.00016
CHAS     0.00052  0.00016

In [4]:
df = pd.read_csv("wine.csv")
df.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,0,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,0,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,0,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,0,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,0,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [5]:
cvpfi.cvpfi_val_cla(df, y_col="Wine", cv=10).sort_values("CVPFI", ascending=False)

                        CVPFI     ±Err
Color.int             0.19314  0.03223
Proline               0.13196  0.04440
Flavanoids            0.09686  0.02615
Alcohol               0.00298  0.00465
Hue                   0.00187  0.00268
OD                    0.00050  0.00122
Mg                    0.00012  0.00050
Malic.acid            0.00000  0.00000
Ash                   0.00000  0.00000
Acl                   0.00000  0.00000
Phenols               0.00000  0.00000
Nonflavanoid.phenols  0.00000  0.00000
Proanth               0.00000  0.00000